body {
            color: black;
        }
        
        
        .article {
            color: gray;
        }


        [data-theme="dark"] .titre {
            color: red;
        }

        article p {
            color: darkblue;
        }


        article h2 {
            color: green;

        }